<div class="container">
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6">
      <div class="flat-form">
        <h1>Edit Flat</h1>
        <%= render 'form', flat: @flat %>
      </div>
    </div>
  </div>
</div>

