.btn-airbnb {
  color: #2C7DF6;
  font-size: 16px;
  border: 1px solid #2C7DF6;
  padding: 8px 12px;
  border-radius: 5px;
}
.btn-airbnb:hover {
  color: white;
  background-color: #2C7DF6;
  opacity: 1;
  text-decoration: none;
}
